PORT=3000

# Supabase - dapatkan dari: supabase.com > Settings > API
SUPABASE_URL=
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVib3B0dm9zbHV0dGtpY2V2cWdrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU5NzM1OTksImV4cCI6MjA5MTU0OTU5OX0.mSvvDhEGe0Vlg4xH8V6nVuA9VSyZz4QqAaTtAy5uXrA
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVib3B0dm9zbHV0dGtpY2V2cWdrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTk3MzU5OSwiZXhwIjoyMDkxNTQ5NTk5fQ.v2R-Q7TSeWAfYMVs8W3NIw76jJLZ07XQdmH0mPKRD0g

JWT_SECRET=your_jwt_secret_here
